* {
  margin: 0;
}
.App {
  /* Landing Page */
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #252a3f;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 70px;
}
.stats__list {
  display: initial;
}

.App__navigation {
  position: absolute;
  text-align: center;
  top: 49%; /* Adjust this value to move the positioned div up and down */
  width: 90%; /* Set the width of the positioned div */
  font-size: 100px;
  top: 225px;
  left: 100px;
  display: flex;
  justify-content: center;
}
.App__navigation__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.item__button{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  .item__button:active {color: #eee;}